mixin submenuHeader(text)
  //- header
  button.mobile-menu__submenu-header.js-link-submenu-close
    +icon("arrow-left")
    = text


// mobile menu
div(id='mobile-menu', class='mobile-menu')
  //header
  .mobile-menu__header
    a(href="tel:+79811987808", class="mobile-menu__contact-phone") + 7 (981) 198-78-08
    button(aria-label="Close" class="mobile-menu__close js-menu-button-close")
      i.icon-close
  // body
  .mobile-menu__body
    // list
    .mobile-menu__list.mobile-menu__list_main
      //- item
      .mobile-menu__item: a(href= LINKS.home, class="mobile-menu__link") Главная
      //- item
      .mobile-menu__item
        a(href= LINKS.services, class="mobile-menu__link js-link-submenu-open") Услуги
        // submenu
        .mobile-menu__submenu
          //- header
          +submenuHeader('Меню')
          // sublist
          .mobile-menu__sublist
            .mobile-menu__item: a(href= LINKS.page_service, class="mobile-menu__link") Авто перевозки
            .mobile-menu__item: a(href= LINKS.page_service, class="mobile-menu__link") ЖД перевозки
            .mobile-menu__item: a(href= LINKS.page_service, class="mobile-menu__link") Морские и речные перевозки
            .mobile-menu__item: a(href= LINKS.page_service, class="mobile-menu__link") Аренда спецтехники
      //- item
      .mobile-menu__item
        a(href= LINKS.regions, class="mobile-menu__link js-link-submenu-open") Регионы оказания услуг
        // submenu
        .mobile-menu__submenu
          //- header
          +submenuHeader('Меню')
          // sublist
          .mobile-menu__sublist
            //- item
            .mobile-menu__item
              a(href= LINKS.page_service, class="mobile-menu__link js-link-submenu-open") Автономные круга
              // submenu
              .mobile-menu__submenu
                //- header
                +submenuHeader('Регионы оказания услуг')
                // sublist
                .mobile-menu__sublist
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Ямало-Ненецкий
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Ненецкий
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Ханты-Мансийский
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Чукотский
            //- item
            .mobile-menu__item
              a(href= LINKS.page_service, class="mobile-menu__link js-link-submenu-open") Области
              // submenu
              .mobile-menu__submenu
                //- header
                +submenuHeader('Регионы оказания услуг')
                // sublist
                .mobile-menu__sublist
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Архангельская
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Тюменская
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Новосибирская
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Иркутской
            //- item
            .mobile-menu__item
              a(href= LINKS.page_service, class="mobile-menu__link js-link-submenu-open") Республики
              // submenu
              .mobile-menu__submenu
                //- header
                +submenuHeader('Регионы оказания услуг')
                // sublist
                .mobile-menu__sublist
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Коми
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Хакасия
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Тыва
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Саха (Якутия)
            //- item
            .mobile-menu__item
              a(href= LINKS.page_service, class="mobile-menu__link js-link-submenu-open") Края
              // submenu
              .mobile-menu__submenu
                //- header
                +submenuHeader('Регионы оказания услуг')
                // sublist
                .mobile-menu__sublist
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Красноярский
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Забайкальский
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Алтайский
                  .mobile-menu__item: a(href= LINKS.page_region, class="mobile-menu__link") Камчатский
      //- item
      .mobile-menu__item: a(href= LINKS.about, class="mobile-menu__link") О компании
      //- item
      .mobile-menu__item: a(href= LINKS.contacts, class="mobile-menu__link") Контакты
      //- item
      .mobile-menu__item: a(href= LINKS.clients, class="mobile-menu__link") Наши клиенты