// mobile menu
div(id='phone-menu', class='mobile-menu')
  //header
  .mobile-menu__header
    button(aria-label="Close" class="mobile-menu__close js-menu-button-close")
      i.icon-close
  // body
  .mobile-menu__body
    // list
    .mobile-menu__list.mobile-menu__list_phones
      //- item
      .mobile-menu__item
        a(href="tel:+79811987808", class="mobile-menu__link mobile-menu__link_phone") + 7 (981) 198-78-08
          span Владивосток
      //- item
      .mobile-menu__item
        a(href="tel:+79811987808", class="mobile-menu__link mobile-menu__link_phone") + 7 (981) 198-78-08
          span Москва
      //- item
      .mobile-menu__item
        a(href="tel:+79811987808", class="mobile-menu__link mobile-menu__link_phone") + 7 (981) 198-78-08
          span Тюмень
      //- item
      .mobile-menu__item
        a(href="tel:+79811987808", class="mobile-menu__link mobile-menu__link_phone") + 7 (981) 198-78-08
          span Архангельск
