/*==========================================================================
  ABOUT
===========================================================================*/

.about {
  display: flex;
  flex-wrap: wrap;

  &.section-page {
    padding: 0;
  }
}

.about__title {
  margin-bottom: 18px;
  margin-top: 0;
}

.about__image {
  width: 50%;

  @include mq("laptop", "max") {
    width: 100%;
    order: 2;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about__container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding-left: 40px;
  padding-top: 55px;
  padding-bottom: 55px;

  @include mq("desktop", "max") {
    width: 50%;
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @include mq("laptop", "max") {
    width: 100%;
    text-align: center;
  }

  @include mq("tablet", "max") {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.about__content {
  max-width: 500px;
  margin: 0 auto;

  @include mq("laptop", "max") {

    .list-line {

      li {
        padding-left: 0;
        &::after {
          display: none;
        }
      }
    }
  }
}

.about__button-container {

  @include mq("laptop") {
    text-align: right;
  }
}

/* end about*/