/*==========================================================================
  ADVANTAGES
===========================================================================*/

.advantages__list {
  width: 100%;
}

.advantages__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  p {
    margin: 0;
    max-width: 260px;
  }
}

.advantages__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 50%;

  @include mq("tablet", "max") {
    width: 80px;
    height: 80px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 3px;
    width: 14px;
    height: 14px;
    background-color: $color-white;
  }

  .icon {

    &.icon-shopping {
      width: 44px;
      height: 44px;
    }

    &.icon-map {
      width: 49px;
      height: 43px;
    }

    &.icon-van {
      width: 49px;
      height: 32px;
    }

    &.icon-task {
      width: 38px;
      height: 47px;
    }
  }
}

.advantages__title {
  font-size: 18px;
  margin: 0 0 5px;

  @include mq("tablet", "max") {
    font-size: 16px;
  }
}
/* end advantages*/