/*==========================================================================
  CLIENTS
===========================================================================*/

$client-item-gap: 30px;

$client-item-height: 150px;
$client-item-height-laptop: 120px;

$client-item-background-color: $color-white;
$client-item-border-radius: 5px;

.clients {
  width: 100%;
}

.clients__list {

  .row {
    justify-content: center;
    margin-top: -$client-item-gap;
  }
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $client-item-gap;
  padding: 25px;
  height: $client-item-height;
  border-radius: $client-item-border-radius;
  background-color: $client-item-background-color;

  @include mq("desktop", "max") {
    height: $client-item-height-laptop;
  }

  @include mq("tablet", "max") {
    padding: 10px;
    height: 200px;
  }

  @include mq("tablet-small", "max") {
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.js-clients {

  .slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
}

/* end clients */