/*==========================================================================
  REGIONS
===========================================================================*/

$region-text-width: 35%;
$region-container: 100% - $region-text-width;
$region-text-width-laptop: 45%;
$region-container-laptop: 100% - $region-text-width-laptop;

$region-container-min-height: 453px;
$region-container-min-height-laptop: 320px;
$region-container-min-height-tablet: 320px;
$region-container-min-height-phone: 260px;

$region-container-padding: 47px;
$region-container-padding-laptop: 15px;

$region-container-border-radius: 10px;
$region-container-background-color: $color-gray;

$region-item-width: 50%;

$region-item-height: 164px;
$region-item-height-laptop: 135px;
$region-item-height-phone: 105px;

$region-item-border-radius: 10px;
$region-item-horizontal-padding: 15px;
$region-item-horizontal-padding-laptop: 10px;
$region-item-horizontal-padding-phone: 5px;

$region-item-color: $color-primary;
$region-item-color-hover: lighten($color-primary, 10%);;

$region-item-border-color: $color-secondary;
$region-item-border-color-hover: $color-primary;

.regions {
  position: relative;
  width: 100%;
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/regions-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;

    @include mq("laptop", "max") {
      bottom: 0;
      top: auto;
      width: 100%;
      height: 40%;
    }
  }
}

.regions__content{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;

  @include mq("laptop", "max") {
    flex-direction: column;
    text-align: center;
  }
}

.regions__text {
  width: $region-text-width;
  padding-right: 30px;

  @include mq("desktop", "max") {
    width: $region-text-width-laptop;
  }

  @include mq("laptop", "max") {
    width: 70%;
    margin-bottom: 50px;
    padding: 0;
  }

  @include mq("tablet", "max") {
    margin-bottom: 25px;
  }

  @include mq("phone", "max") {
    width: 100%;
  }

  .btn {
    margin-top: 10px;
  }
}

.regions__title {
  margin-top: 0;
  margin-bottom: 18px;
}

.regions__container {
  display: block;
  width: $region-container;
  min-height: $region-container-min-height;
  padding: $region-container-padding;
  border-radius: $region-container-border-radius;
  background-color: $region-container-background-color;
  background-image: url('../images/word-map.svg');
  background-repeat: no-repeat;
  background-size: 702px 436px;
  background-position: center center;

  @include mq("desktop", "max") {
    width: $region-container-laptop;
    min-height: $region-container-min-height-laptop;
    padding: $region-container-padding-laptop;
    background-size: 500px 300px;
  }

  @include mq("laptop", "max") {
    width: 90%;
    min-height: $region-container-min-height-tablet;
    background-size: 550px 330px;
  }

  @include mq("tablet", "max") {
    width: 95%;
    min-height: $region-container-min-height-phone;
    background-size: 300px 190px;
  }
}

.regions__list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-left: -$region-item-horizontal-padding;
  margin-right: -$region-item-horizontal-padding;
  margin-top: -$region-item-horizontal-padding * 2;

  @include mq('desktop', "max") {
    margin-left: -$region-item-horizontal-padding-laptop;
    margin-right: -$region-item-horizontal-padding-laptop;
    margin-top: -$region-item-horizontal-padding-laptop * 2;
  }

  @include mq("phone", "max") {
    margin-left: -$region-item-horizontal-padding-phone;
    margin-right: -$region-item-horizontal-padding-phone;
    margin-top: -$region-item-horizontal-padding-phone * 2;
  }
}

.regions__item {
  width: $region-item-width;
  padding-left: $region-item-horizontal-padding;
  padding-right: $region-item-horizontal-padding;
  margin-top: $region-item-horizontal-padding * 2;

  @include mq('desktop', "max") {
    padding-left: $region-item-horizontal-padding-laptop;
    padding-right: $region-item-horizontal-padding-laptop;
    margin-top: $region-item-horizontal-padding-laptop * 2;
  }

  @include mq("phone", "max") {
    width: 100%;
    padding-left: $region-item-horizontal-padding-phone;
    padding-right: $region-item-horizontal-padding-phone;
    margin-top: $region-item-horizontal-padding-phone * 2;
  }
}

a.regions__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  height: $region-item-height;
  color: $region-item-color;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: $region-item-border-radius;
  border: 1px solid $region-item-border-color;

  @include mq("desktop", "max") {
    font-size: 18px;
    height: $region-item-height-laptop;
  }

  @include mq("laptop", "max") {
    font-size: 16px;
  }

  @include mq("tablet", "max") {
    font-size: 14px;
    height: $region-item-height-phone;
  }

  &:hover {
    color: $region-item-color-hover;
    text-decoration: none;
    border-color: $region-item-border-color-hover;
  }
}

/* end regions */