/* ==========================================================================
  HEADER
  ===========================================================================*/

$header-font-color: $color-white;
$header-background-color: $color-secondary;

$header-top-vertical-padding: 23px;
$header-top-vertical-padding-tablet: 13px;
$header-top-vertical-padding-phone: 7px;

$header-item-contact-gap: 10px;
$header-item-contact-gap-laptop: 15px;
$header-item-contact-gap-tablet: 25px;
$header-item-contact-gap-phone: 15px;

$dropdown-with: 214px;
$dropdown-border-radius: 5px;
$dropdown-link-vertical-padding: 15px;
$dropdown-background-color: $color-primary;
$dropdown-item-border-top-color: lighten($dropdown-background-color, 8%);
$dropdown-z-index: 7;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $header-background-color;
  z-index: z(header);

  + .wrapper {
    padding-top: 140px;

    @include mq("tablet", "max") {
      padding-top: 49px;
    }
  }

  &.header_home {

    @include mq("tablet") {
      background: transparent;

      + .wrapper {
        padding-top: 0;
      }
    }
  }

  @include mq("tablet", "max") {
    position: fixed;
    width: 100%;
    background-color: $header-background-color;
  }
}

// TOP

.header__top {
  display: flex;
  align-items: center;
  padding-top: $header-top-vertical-padding;
  padding-bottom: $header-top-vertical-padding;

  @include mq('laptop', 'max') {
    padding-top: $header-top-vertical-padding-tablet;
    padding-bottom: $header-top-vertical-padding-tablet;
  }

  @include mq('tablet', 'max') {
    padding-top: $header-top-vertical-padding-phone;
    padding-bottom: $header-top-vertical-padding-phone;
  }
}

// logo
.header__logo {
  flex-shrink: 0;
  margin-right: auto;

  .logo__image {

    @include mq('tablet', 'max') {
      width: 40px;
      height: 35px;
    }
  }

  .logo__text {

    @include mq('tablet', 'max') {
      display: none;
    }
  }
}

.header__email {
  display: inline-flex;
  align-items: center;
  color: $header-font-color;
  
  &:hover {
    color: $header-font-color;
    text-decoration: none;
  }

  .icon {
    width: 20px;
    height: 14px;
    margin-left: 7px;
  }
}

.header__item-contact {
  margin-right: $header-item-contact-gap;

  @include mq('desktop', 'max') {
    margin-right: $header-item-contact-gap-laptop;
  }
  @include mq("laptop", "max") {
    margin-right: 0;
  }
}

// DROPDOWN CONTACTS

// mixin
@mixin dropdown-link() {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: $header-item-contact-gap;
  padding-right: $header-item-contact-gap;
  color: $header-font-color;
  text-align: right;

  &:hover {
    color: $header-font-color;
    text-decoration: none;
  }

  span {

    &:first-child {
      font-weight: $font-weight-medium;
    }

    &:last-child {
      font-size: $font-size-primary-smaller;
    }
  }
}

.dropdown-contacts {
  position: relative;
  
  @include mq("tablet", "max") {
    display: none;
  }
}

// button
.dropdown-contacts__button {

  @include mq('desktop') {
    display: none;
  }

  @include dropdown-link();
  position: relative;
  padding-left: 0;
  padding-right: 18px + $header-item-contact-gap-laptop;
  background: transparent;
  border: 0;
  border-right: 1px solid $color-white;
  line-height: 1.4;
  cursor: pointer;

  @include mq("laptop", "max") {
    font-size: 12px;
    padding-right: 18px + $header-item-contact-gap-tablet;
  }

  &:focus {
    outline: none;
    color: darken($color-white, 15%);
  }

  &:hover {
    color: $color-primary;
  }

  .icon {
    content: '';
    position: absolute;
    top: 50%;
    right: $header-item-contact-gap-laptop;
    display: inline-flex;
    width: 9px;
    height: 7px;
    transform: rotate(0deg) translateY(-50%);
    transition: .375s;

    @include mq("laptop", "max") {
      right: $header-item-contact-gap-tablet;
    }
  }
}

.dropdown-contacts__button_active {

  color: $color-primary;

  &:focus {
    color: $color-primary;
  }

  .icon {
    transform: rotate(180deg) translateY(50%);
  }
}

.dropdown-contacts__list {
  display: flex;

  @include mq('desktop') {

    li {
      border-right: 1px solid $color-white;
    }

    a {
      @include dropdown-link();
    }
  }

  @include mq('desktop', 'max') {
    position: absolute;
    top: 100%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $dropdown-with;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: $dropdown-border-radius;
    z-index: $dropdown-z-index;
    transform: translateX(-50%) translateY(0px);
    overflow: hidden;
    opacity: 0;
    will-change: transform, opacity;
    pointer-events: none;
    transition: .375s;

    @include mq('laptop', 'max') {
      width: 200px;
    }

    &.dropdown-contacts__list_active {
      pointer-events: auto;
      transform: translateX(-50%) translateY(10px);
      opacity: 1;
      transition: .375s;

    }

    li {
      width: 100%;

      + li {
        border-top: 1px solid $dropdown-item-border-top-color;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      font-size: $font-size-primary;
      color: $header-font-color;
      padding-top: $dropdown-link-vertical-padding;
      padding-bottom: $dropdown-link-vertical-padding;
      background-color: $dropdown-background-color;

      @include mq('laptop', 'max') {
        font-size: $font-size-primary-smaller;
        padding-top: 12px;
        padding-bottom: 12px;
      }

      span {

        &:last-child {
          opacity: .64;
        }
      }
      
      &:hover {
        text-decoration: none;

        @include mq('tablet') {
          background-color: darken($dropdown-background-color, 2%);
        }
      }

      &:active {
        background-color: darken($dropdown-background-color, 2%);

        @include mq('tablet') {
          background-color: darken($dropdown-background-color, 3%);
        }
      }
    }
  }

}

// STYLES FOR BAR

// hide desktop elements
.header__button-call ,
.header__email{
  @include mq('laptop', 'max') {
    display: none;
  }
}

.header__bar {
  display: flex;
  align-items: center;

  @include mq('laptop') {
    display: none;
  }
}

.header__bar-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $header-font-color;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 0;
  padding-left: $header-item-contact-gap-tablet;
  border: 0;
  background: transparent;
  cursor: pointer;
  
  &.header__bar-item_phones{

    @include mq("tablet") {
      display: none;
    }
  }

  @include mq("tablet", "max") {
    padding-left: $header-item-contact-gap-phone;
  }

  &:hover {
    color: $header-font-color;
  }

  &:focus {
    outline: none;
  }

  .icon {
    height: 20px;
    @include mq("tablet", "max") {
      height: 15px;
    }

    &.icon-phones {
      width: 14px;
      height: 20px;
    }

    &.icon-arrow-down {
      width: 9px;
      height: 7px;
      margin-left: 7px;
    }

    &.icon-mail {

      @include mq("tablet", "max") {
        width: 21px;
        height: 15px;
      }
    }

    &.icon-phone-call{
      height: 24px;
      fill: transparent;
      stroke: #fff;

      @include mq("tablet", "max") {
        width: 20px;
        height: 20px;
      }
    }

    &.icon-burger {

      @include mq("tablet", "max") {
        width: 20px;
        height: 15px;
      }
    }
  }

  &:not(:last-child) {
    padding-right: $header-item-contact-gap-tablet;

    @include mq("tablet", "max") {
      padding-right: $header-item-contact-gap-phone;
    }

    &::after {
      content: '';
      display: inline-flex;
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 35px;
      background-color: $color-white;
      transform: translateY(-50%);

      @include mq("tablet", "max") {
        height: 24px;
      }
    }
  }
}

.header__bottom {
  @include mq("laptop", "max") {
    display: none;
  }
}

/* end header */
