/* ==========================================================================
  POPUP
===========================================================================*/

$popup-overlay-background-color: rgba(25, 18, 12, 0.3);

$popup-container-width: 97%;
$popup-container-max-width: 390px;
$popup-container-z-index: 2;

$popup-container-background-color: $color-secondary;
$popup-container-border-radius: 10px;

$popup-content-vertical-padding: 50px;
$popup-content-horizontal-padding: 55px;

$popup-close-position: 15px;
$popup-close-size: 25px;

$popup-message-max-width: 460px;
$popup-message-min-height: 240px;

$popup-title-font-family: $font-family-secondary;
$popup-title-color: $color-white;
$popup-title-font-size: $font-size-h3;
$popup-title-font-weight: $font-weight-bold;

.popup-wrapper {
  filter: blur(2px);
}

.popup {
  position: fixed;
  z-index: z(popup);
  left: 0;
  right: 0;
  top: -70px;
  // padding-bottom: 70px;
  display: flex;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transform: translateY(70px);
  -webkit-overflow-scrolling: touch;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.popup_open {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transition: .3s;

  .popup__overlay {
    visibility: visible;
    opacity: 1;
    transition: .3s;
  }

  .popup__container {
    opacity: 1;
    transform: scale(1);
    transition: .3s;
  }
}

.popup__overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $popup-overlay-background-color;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.popup__container {
  position: relative;
  z-index: $popup-container-z-index;
  display: flex;
  align-items: center;
  width: $popup-container-width;
  max-width: $popup-container-max-width;
  min-height: 100px;
  max-height: 100%;
  margin: auto;
  background: $popup-container-background-color;
  border-radius: $popup-container-border-radius;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0.7);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include mq("tablet", "max") {
    max-width: 350px;
  }
}

.popup__close {
  position: absolute;
  top: $popup-close-position;
  right: $popup-close-position;
  z-index: z(default);
  width: $popup-close-size;
  height: $popup-close-size;
  padding: 0;
  font-size: 0;
  color: $popup-title-color;
  border: 0;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.popup__content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: $popup-content-horizontal-padding;
  padding-right: $popup-content-horizontal-padding;
  padding-top: $popup-content-vertical-padding;
  padding-bottom: $popup-content-vertical-padding;

  .form {
    padding: 0;
    background-color: $popup-container-background-color;
  }

  p {
    margin: 10px 0px;
  }

  @include mq('tablet', 'max') {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include mq('phone', 'max') {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.popup_message {

  .popup__container {
    max-width: $popup-message-max-width;
    min-height: $popup-message-min-height;
  }
  text-align: center;
}

.popup__title {
  font-family: $popup-title-font-family;
  color: $popup-title-color;
  font-size: $popup-title-font-size;
  font-weight: $popup-title-font-weight;
}

/* end popup */
