//-button
mixin button(className, text, popup, popupId)

  if popup
    button(class="btn " + className, tabindex="0", data-popup="open", data-popup-id='#popup-' + popupId)
      span(class="btn__content" tabindex="-1")= text

  else
    button(class="btn " + className, tabindex="0")
      span(class="btn__content" tabindex="-1")= text

//-button link
mixin buttonLink(href, className, text, popup, popupId)

  if popup
    a(href= href, class="btn " + className, tabindex="0", data-popup="open", data-popup-id='#popup-' + popupId)
      span(class="btn__content" tabindex="-1")= text

  else
    a(href= href, class="btn " + className, tabindex="0")
      span(class="btn__content" tabindex="-1")= text