/* ==========================================================================
  BUTTONS
=========================================================================== */

/* Variables colors */

//- Primary -//

// color
$btn-primary-color: $color-white;
$btn-primary-color-hover: $color-primary;
$btn-primary-color-active: $color-white;

// background
$btn-primary-background-color: $color-primary;
$btn-primary-background-color-hover: transparent;
$btn-primary-background-color-active: darken($btn-primary-background-color, 10%);

// border
$btn-primary-border-color: $color-primary;
$btn-primary-border-color-hover: $color-primary;
$btn-primary-border-color-active: $btn-primary-background-color-active;

//- Primary Light -//

// color
$btn-primary-light-color: $color-white;
$btn-primary-light-color-hover: $color-white;
$btn-primary-light-color-active: $color-primary;

// background
$btn-primary-light-background-color: $color-primary;
$btn-primary-light-background-color-hover: transparent;
$btn-primary-light-background-color-active: $color-white;

// border
$btn-primary-light-border-color: $color-primary;
$btn-primary-light-border-color-hover: $color-white;
$btn-primary-light-border-color-active: $color-white;

//- Secondary -//

// color
$btn-secondary-color: $color-primary;
$btn-secondary-color-hover: $color-white;
$btn-secondary-color-active: $color-primary;

// background
$btn-secondary-background-color: $color-white;
$btn-secondary-background-color-hover: transparent;
$btn-secondary-background-color-active: darken($btn-secondary-background-color, 10%);

// border
$btn-secondary-border-color: $color-white;
$btn-secondary-border-color-hover: $btn-secondary-border-color;
$btn-secondary-border-color-active: $btn-secondary-background-color-active;

//- Light -//

// color
$btn-light-color: $color-white;
$btn-light-color-hover: $color-primary;
$btn-light-color-active: $color-primary;

// background
$btn-light-background-color: transparent;
$btn-light-background-color-hover: $color-white;
$btn-light-background-color-active: darken($btn-light-background-color-hover, 10%);

// border
$btn-light-border-color: $color-white;
$btn-light-border-color-hover: $btn-light-border-color;
$btn-light-border-color-active: $btn-light-background-color-active;

.btn,
.btn[type="button"] {

  //position
  position: relative;
  z-index: z(button);

  //box model
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 100%;
  padding: 0;

  //font
  font-size: btn(font-size);
  line-height: btn(line-height);
  font-weight: btn(font-weight);
  text-align: center;
  text-decoration: none;

  // other
  background-color: transparent;
  border: 0;
  border-radius: btn(border-radius);
  transition: all .3s ease;
  overflow: hidden;

  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: inherit;

  &:focus {
    outline: none;
  }

  &.btn_full {
    width: 100%;

    .btn__content {
      width: 100%;
    }
  }

  &.btn_style-uppercase {
    text-transform: uppercase;
  }
}

.btn {

  &:hover{
    text-decoration: none;
  }
}

.btn__content{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: btn(height);
  padding: btn(padding);
  border-width:  btn(border-width);
  border-style: solid;
  border-radius: btn(border-radius);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

/* disabled styles */

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .25;
  filter: alpha(opacity=25);
  -webkit-box-shadow: none;
  box-shadow: none;
}

button[type="button"] {
  cursor: pointer;
}

/* PRIMARY */

.btn_primary {

  .btn__content {
    color: $btn-primary-color;
    border-color: $btn-primary-border-color;
    background-color: $btn-primary-background-color;
  }

  &:hover,
  &:focus {

    .btn__content {
      color: $btn-primary-color-hover;
      border-color: $btn-primary-border-color-hover;
      background-color: $btn-primary-background-color-hover;
    }
  }

  &:active {

    .btn__content {
      color: $btn-primary-color-active;
      border-color: $btn-primary-border-color-active;
      background-color: $btn-primary-background-color-active;
    }
  }
}

/* PRIMARY */

.btn_primary-light {

  .btn__content {
    color: $btn-primary-light-color;
    border-color: $btn-primary-light-border-color;
    background-color: $btn-primary-light-background-color;
  }

  &:hover,
  &:focus {

    .btn__content {
      color: $btn-primary-light-color-hover;
      border-color: $btn-primary-light-border-color-hover;
      background-color: $btn-primary-light-background-color-hover;
    }
  }

  &:active {

    .btn__content {
      color: $btn-primary-light-color-active;
      border-color: $btn-primary-light-border-color-active;
      background-color: $btn-primary-light-background-color-active;
    }
  }
}

/* SECONDARY */

.btn_secondary {

  .btn__content {
    color: $btn-secondary-color;
    border-color: $btn-secondary-border-color;
    background-color: $btn-secondary-background-color;
  }

  &:hover,
  &:focus {

    .btn__content {
      color: $btn-secondary-color-hover;
      border-color: $btn-secondary-border-color-hover;
      background-color: $btn-secondary-background-color-hover;
    }
  }

  &:active {

    .btn__content {
      color: $btn-secondary-color-active;
      border-color: $btn-secondary-border-color-active;
      background-color: $btn-secondary-background-color-active;
    }
  }
}

/* LIGHT */

.btn_light {

  .btn__content {
    color: $btn-light-color;
    border-color: $btn-light-border-color;
    background-color: $btn-light-background-color;
  }

  &:hover,
  &:focus {

    .btn__content {
      color: $btn-light-color-hover;
      border-color: $btn-light-border-color-hover;
      background-color: $btn-light-background-color-hover;
    }
  }

  &:active {

    .btn__content {
      color: $btn-light-color-active;
      border-color: $btn-light-border-color-active;
      background-color: $btn-light-background-color-active;
    }
  }


  //&:not(:-moz-focusring):focus .btn__content  // for disable focus on firefox
}

/* end buttons*/
