/* ==========================================================================
  CHECKBOXES
===========================================================================*/

$checkbox-checkmark-size: 13px;
$checkbox-checkmark-border-radius: 3px;
$checkbox-checkmark-border-width: 1px;

$checkbox-checkmark-border-color: $color-white;
$checkbox-light-checkmark-border-color: $color-primary;

$checkbox-checkmark-background-color-focus: rgba($color-white, .1);
$checkbox-checkmark-background-color-selected: $color-white;

$checkbox-checkmark-icon-width: 9px;
$checkbox-checkmark-icon-height: 7px;

$checkbox-color: $color-white;
$checkbox-light-color: $color-black;

$checkbox-font-size: $font-size-primary-smaller;
$checkbox-padding-left: $checkbox-checkmark-size + 6px;


.checkbox {
  position: relative;
  display: inline-block;
  padding-left: $checkbox-padding-left;
  color: $checkbox-color;
  font-size: $checkbox-font-size;
  cursor: pointer;
  user-select: none;

  span.error {
    opacity: 0;
  }

  &:focus{
    outline: none;

    .checkbox__checkmark {
      background-color: $checkbox-checkmark-background-color-focus;
    }
  }
}

.checkbox_light {
  color: $checkbox-light-color;

  .checkbox__checkmark {
    border-color: $checkbox-light-checkmark-border-color;
  }
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;

  &:checked {

    ~ .checkbox__checkmark {
      background-color: $checkbox-checkmark-background-color-selected;
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%207.109%205.424%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%230079c0%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20id%3D%22icon%22%20class%3D%22cls-1%22%20d%3D%22M7.109%201L3.244%205.424%201%203.317%22%20transform%3D%22translate(-.5%20-.5)%22%2F%3E%3C%2Fsvg%3E');
    }
  }

  &:focus {

    ~ .checkbox__checkmark {
      background-color: $checkbox-checkmark-background-color-focus;
    }
  }

  &.error {

    ~  .checkbox__checkmark {
      border-color: $color-error;
    }
  }
}

.checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: $checkbox-checkmark-size;
  height: $checkbox-checkmark-size;
  border-radius: $checkbox-checkmark-border-radius;
  border: $checkbox-checkmark-border-width solid $checkbox-checkmark-border-color;
  background-size: $checkbox-checkmark-icon-width $checkbox-checkmark-icon-height;
  background-position: center center;
  background-repeat: no-repeat;
}

/* end checkbox */
