/* ==========================================================================
  ICONS CSS
===========================================================================*/

$button-close-size: 18px;
$icon-close-size: 1px;
$icon-close-border-radius: 2px;

// close icon

.icon-close{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: $button-close-size;
  height: $button-close-size;
  padding: 0;
  color:currentColor;
  text-align: center;
  transform:translateY(-50%);

  &::after,
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left:0;
    right: 0;
    height: $icon-close-size;
    display: block;
    margin: 0 auto;
    background: currentColor;
    border-radius: $icon-close-border-radius;
    transform:translateY(-50%);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
