/* ==========================================================================
  DROPDOWN
===========================================================================*/

.dropdown {
  position: relative;
  width: 56px;
  border-radius: 5px;
  border: 1px solid $color-black-light;
  background-color: $color-gray-light;
  z-index: z(dropdown);

  &:hover {
    border-radius: 5px 5px 0px 0px;
    border-bottom-color: transparent;
    background-color: $color-white;

    .dropdown__button {
      background-color: $color-white;

      &::after{
        transform: translateY(-30%) rotate(315deg);
      }
    }

    .dropdown__list {
      display: block;
    }
  }
}

.dropdown__button {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 30px;
  padding: 0 8px;
  font-size: $font-size-primary-smaller;
  font-weight: $font-weight-regular;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border:0;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 7px;
    height: 7px;
    border-top: 1px solid $color-black-light;
    border-right: 1px solid $color-black-light;
    transform: translateY(-70%) rotate(135deg);
  }
}

.dropdown__list {
  display: none; // hidden list
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -1px;
  right: -1px;
  margin-top: -1px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid $color-black-light;
  border-top: 0;
  background-color: $color-white;
}

.dropdown__link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  color: $color-black;
  font-size: $font-size-primary-smaller;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  text-decoration: none;
}

/* end dropdown */