/*----------------------------------------
  FORM
----------------------------------------*/

$form-width: 100%;
$form-padding-vertical: 45px;
$form-padding-horizontal: 50px;
$form-border-radius: 10px;

$form-background-color: $color-primary;

$form-group-gap: 15px;

$form-title-font-family: $font-family-secondary;
$form-title-size: $font-size-h3;
$form-title-color: $color-white;
$font-title-weight: $font-weight-bold;

.form {
  position: relative;
  width: $form-width;
  padding: $form-padding-vertical $form-padding-horizontal;
  border-radius: $form-border-radius;
  background-color: $form-background-color;

  .btn__content {
    height: 40px;
  }
}

.form__group {
  position: relative;

  + .form__group {
    margin-top: $form-group-gap;
  }
}

// TITLE

.form__header {
  margin-bottom: 20px;
  text-align: center;

  p {
    margin: 0;
    color: $color-white;
    font-size: 12px;
  }
}

.form__title {
  color: $form-title-color;
  font-family: $form-title-font-family;
  font-size: $form-title-size;
  font-weight: $font-title-weight;

  @include mq("tablet", "max") {
    font-size: $font-size-h1-phone;
    margin-bottom: 10px;
  }
}

// STYLE FOR INPUT

.form__input {
  width: input(width);
  height: input(height);
  padding: input(padding);
  font-family: input(font-family);
  font-size: input(font-size);
  color: input(color);
  font-weight: input(font-weight);
  background-color: input(background);
  border: input(border);
  border-radius: input(border-radius);
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;

  @include placeholder {
    font-size: input(font-size);
    color: input(placeholder);
    transition: input(transition);
  }

  &:focus {
    outline: none;
  }

  &:not(.js-mask-phone) {

    &:focus {

      @include placeholder {
        color: input(placeholder);
        transition: input(transition);
      }
    }
  }

  &.error {
    border-color: $color-error;
  }
}

// Light inputs

.form__input_white {
  color: $color-black;
  border-color: $color-primary;

  @include placeholder {
    color: rgba($color-black, .6);
  }
}

// STYLE FOR TEXTAREA

//.form__textarea {
//  width: textarea(width);
//  height: textarea(height);
//  padding: textarea(padding);
//  font-family: textarea(font-family);
//  font-size: textarea(font-size);
//  color: textarea(color);
//  font-weight: textarea(font-weight);
//  border: textarea(border);
//  border-radius: textarea(border-radius);
//  background-color: textarea(background);
//  box-sizing: border-box;
//  resize: none;
//
//  @include placeholder {
//    font-size: textarea(font-size);
//    color: textarea(placeholder);
//    transition: textarea(transition);
//  }
//
//  &:focus {
//    outline: none;
//
//    @include placeholder {
//      color: rgba(input(placeholder), 0.4);
//      transition: textarea(transition);
//    }
//
//    + span.error {
//      opacity: 0;
//    }
//  }
//
//  &.error {
//    box-shadow: 0px 0px 0px 1px $color-error;
//
//    @include placeholder {
//      color: transparent;
//      transition: textarea(transition);
//    }
//  }
//}

// STYLE FOR LABELS

//ERROR

.form {

  span.error {
    //display: none !important;
    position: absolute;
    display: block;
    bottom: 100%;
    left: 18px;
    right: 0;
    font-size: $font-size-primary-smaller;
    z-index: z(label-error);
    color: $color-error;
    text-align: left;
    background: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
  }
}

.form_order {
  max-width: 390px
}
/* end forms */
