/*==========================================================================
  SECTION PAGE
===========================================================================*/

.section-page {
  width: 100%;
  padding-top: 55px;
  padding-bottom: 55px;

  @include mq("tablet", "max") {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-page_dark {
  background-color: $color-secondary;

  p,
  a,
  .h1,.h2,.h3,.h4 {
    color: $color-white;
  }
}

.section-page__title {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;

  @include mq("tablet", "max") {
    margin-bottom: 30px;
  }
}

/* end section page*/

/*==========================================================================
  CAROUSEL STYLES
===========================================================================*/

.carousel_primary {

  .slick-dots {
    position: relative;
    margin: 40px 0 0;
    bottom: 0;

    @include mq("tablet", "max") {
      margin-top: 20px;
    }

    li {

      button {
        border-color: $color-primary;
      }

      &.slick-active {

        button {
          background-color: $color-primary;
        }
      }
    }
  }
}

/* end carousel */

/*==========================================================================
  LIST LINE
===========================================================================*/

.list-line {
  margin-bottom: 20px;
  padding-left: 10px;

  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      left: 0;
      width: 7px;
      height: 7px;
      background-color: $color-primary;
      border-radius: 50%;
    }
  }
}

/* end list line */