/*----------------------------------------
  TABLES
----------------------------------------*/

.table__title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color-black;
  font-size: $font-size-primary;
  font-weight: $font-weight-medium;
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {

    @include mq('tablet', 'max') {
      display: none;
    }
  }

  tr {
    border-bottom: 1px solid $color-gray-light;
    @include mq('tablet', 'max') {
      border-bottom-color: transparent;

      &:not(:last-child) {
        border-bottom-color: $color-black-light;
      }
    }
  }

  td,
  th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;

    @include mq('desktop', 'max') {
      font-size: $font-size-primary-smaller;

      .btn {
        font-size: $font-size-primary-smaller;
      }
    }

    @include mq('laptop', 'max') {
      font-size: 12px;
    }

    @include mq('tablet', 'max') {
      .btn {
        min-width: 100px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &:first-child {
      @include mq('tablet') {
        text-align: left;
        padding-left: 18px;
      }
    }
  }

  td {

    &:first-child {
      font-weight: $font-weight-medium;
    }

    @include mq('tablet', 'max') {
      position: relative;
      text-align: left;
      display: block;
      width: 100% !important;
      height: auto;
      padding-right: 10px;
      padding-left: 45%;
      line-height: 1.2;

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray-light;
      }

      &:after {
        content: attr(data-label);
        display: block;
        position: absolute;
        left: 0;
        width: 43%;
        height: 100%;
        padding: 0 10px;
        top: 0;
        z-index: 2;

        float: left;
        // background: ;
        color: $color-black-lighten;
        font-size: 12px;
        line-height: 1.2;

        // flex
        display: flex;
        align-items: center;
      }
    }
  }

  .table__cell-button {
    width: 165px;
  }

  &.table_lg {

    td, th {
      &:first-child {
        @include mq('tablet') {
          width: 200px;
        }
      }
    }
  }

  &.table_md {

    td, th {
      &:first-child {
        @include mq('tablet') {
          width: 140px;
        }
      }
    }
  }

  &.table_sm {

    td, th {
      &:first-child {
        @include mq('tablet') {
          width: 280px;
        }
      }
    }
  }
}

/* end tables */
