// footer
footer(class="footer")
  // top
  .footer-top
    .container.footer-top__container
      +logo('footer__logo')
      .footer__links.footer-menu
        ul.footer-menu__list
          li: a(href= LINKS.home) Главная
          li: a(href= LINKS.home) О компании
          li: a(href= LINKS.home) Контакты
          li: a(href= LINKS.home) Наши клиенты
        ul.footer-menu__list
          li: a(href= LINKS.home) Регионы оказания услуг
          li: a(href= LINKS.home) Автономные округа
          li: a(href= LINKS.home) Республики
          li: a(href= LINKS.home) Края
          li: a(href= LINKS.home) Области
        ul.footer-menu__list
          li: a(href= LINKS.home) Услуги
          li: a(href= LINKS.home) Автомобильные перевозки
          li: a(href= LINKS.home) Железнодорожные перевозки
        ul.footer-menu__list.footer-menu__list_gap-top
          li: a(href= LINKS.home) Морские и речные перевозки
          li: a(href= LINKS.home) Аренда спецтехники
  // bottom
  .footer-bottom
    .container.footer-bottom__container
      // copyright
      .footer__copyright
        span  © 2007 - 2018. ТК «Севертэк»
        span  Все права защищиены
      // author
      .footer__author
        span Разработка:
        |
        a(href="http://gp-studio.ru/", target="_blank") gp-studio.ru