// header
header(class="header header_home")
  .container
    // top
    .header__top
      +logo('header__logo')
      // contacts
      .header__item-contact.dropdown-contacts.js-contacts
        // button
        button.dropdown-contacts__button.js-contacts-button
          span + 7 (981) 198-78-08
          span Москва
          +icon('arrow-down')
        // contacts
        ul.dropdown-contacts__list.js-contacts-list
          li
            a(href="tel:+79811987808")
              span + 7 (981) 198-78-08
              span Москва
          li
            a(href="tel:+79811987808")
              span + 7 (981) 198-78-08
              span Тюмень
          li
            a(href="tel:+79811987808")
              span + 7 (981) 198-78-08
              span Архангельск
          li
            a(href="tel:+74232060418")
              span +7 (4232) 06-04-18
              span Владивосток
      // email
      a(href="mailto:info@severtek.ru", class="header__email header__item-contact")
        | info@severtek.ru
        |
        +icon('mail')
      //-(className, text, popup, popupId)
      +button(
        'btn_primary-light header__button-call',
        'Заказать звонок',
        true,
        "feedback"
      )
      // bar
      .header__bar
        // item
        button(class="header__bar-item header__bar-item_phones js-menu-button-open", data-menu='phone-menu')
          +icon('phones')
          +icon('arrow-down')
        // item
        a(href="mailto:info@severtek.ru", class="header__bar-item")
          +icon('mail')
        // item
        a(href="#", class="header__bar-item", data-popup="open", data-popup-id='#popup-feedback')
          +icon('phone-call')
        // items
        button(class="header__bar-item js-menu-button-open", data-menu="mobile-menu")
          +icon('burger')
    .header__bottom
      include  menu

