// menu
nav.menu
  ul.menu__list
    li: a(href= LINKS.home) Главная
    li
      a(href= LINKS.services) Услуги
        span.menu__icon
          +icon('arrow-down')
      // sublist
      ul.menu__sublist
        li: a(href= LINKS.page_service) Авто перевозки
        li: a(href= LINKS.page_service) ЖД перевозки
        li: a(href= LINKS.page_service) Морские и речные перевозки
        li: a(href= LINKS.page_service) Аренда спецтехники
    li
      a(href= LINKS.regions) Регионы оказания услуг
        span.menu__icon
          +icon('arrow-down')
      // sublist
      ul.menu__sublist
        li
          a(href= LINKS.page_region) Автономные круга
            span.menu__icon
              +icon('arrow-down')
          // sublist
          ul.menu__sublist
            li: a(href= LINKS.page_region) Ямало-Ненецкий
            li: a(href= LINKS.page_region) Ненецкий
            li: a(href= LINKS.page_region) Ханты-Мансийский
            li: a(href= LINKS.page_region) Чукотский
        li
          a(href= LINKS.page_region) Области
            span.menu__icon
              +icon('arrow-down')
          // sublist
          ul.menu__sublist
            li: a(href= LINKS.page_region) Архангельская
            li: a(href= LINKS.page_region) Тюменская
            li: a(href= LINKS.page_region) Новосибирская
            li: a(href= LINKS.page_region) Иркутской
        li
          a(href= LINKS.page_region) Республики
            span.menu__icon
              +icon('arrow-down')
          // sublist
          ul.menu__sublist
            li: a(href= LINKS.page_region) Коми
            li: a(href= LINKS.page_region) Хакасия
            li: a(href= LINKS.page_region) Тыва
            li: a(href= LINKS.page_region) Саха (Якутия)
        li
          a(href= LINKS.page_region) Края
            span.menu__icon
              +icon('arrow-down')
          // sublist
          ul.menu__sublist
            li: a(href= LINKS.page_region) Красноярский
            li: a(href= LINKS.page_region) Забайкальский
            li: a(href= LINKS.page_region) Алтайский
            li: a(href= LINKS.page_region) Камчатский
    li: a(href= LINKS.about) О компании
    li: a(href= LINKS.contacts) Контакты
    li: a(href= LINKS.our_clients) Наши клиенты