mixin advantage(icon, title, text)
  // item
  .advantages__item
    .advantages__content
      .advantages__image
        +icon(icon)
      h3.h3.advantages__title= title
      p= text

// advantages
section.section-page.advantages
  .container
    h2.h2.section-page__title Наши приемущества
    .advantages__list.js-advantages.carousel_primary
      //- item
      +advantage(
        'shopping',
        'Низкая стоимость услуг',
        'Оптимизация затрат за счет построения правильной схемы доставки груза'
      )
      //- item
      +advantage(
      'map',
      'Поставки в срок',
      'Оперативная доставка грузов в самые труднодоступные точки в кратчайшие сроки'
      )
      //- item
      +advantage(
        'van',
        'Многолетний опыт',
        'Решение самых сложных задач с гарантией выполнения'
      )
      //- item
      +advantage(
        'task',
        'Индивидуальный подход',
        'Умеем договариваться и подстраиваться под условия самых требовательных Заказчиков'
      )