// clients
section.section-page.section-page_dark.clients
  .container
    h2.h2.section-page__title Наши клиенты
    .clients__list
      .row.js-clients
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-gazprom.png" alt="Логотип 'Газпром'")
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-weatherford.png" alt="Логотип 'Weatherford'")
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-gazprom-neft.png" alt="Логотип 'Стойнефтегаз - акционерное общетво'")
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-gazprom-neftgaz.png" alt="Логотип 'Стойнефтегаз - акционерное общетво'")
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-dhl.png" alt="Логотип 'DHL'")
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-ubs.png" alt="Логотип 'UBS'")
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-schlumberger.png" alt="Логотип 'Schlumberger'")
        .col-md-4.col-lg-3
          .clients__item: img(src="uploads/client-rosneft.png" alt="Логотип 'Ростнефть'")