// hero
section.hero
  h1.h1.visually-hidden Severtek - транспортная компания
  // slider
  .hero__wrapper
    // slider
    .hero__slider.js-hero
      .hero__item(style="background-image: url(images/service-avto.jpg)")
        .container
          .hero__content
            h2.h1.hero__title Перевозки габаритных и негабаритных грузов
            p Грузоперевозки габаритных, негабаритных, насыпных, наливных и опасных грузов, собственными транспортными средствами между городами, складскими объектами, прочими перевалочными узлами на территории РФ.
            +buttonLink(
              LINKS.page_service,
              'btn_primary-light',
              'Подробнее',
              false
            )
      .hero__item(style="background-image: url(images/service-train.jpg)")
        .container
          .hero__content
            h2.h1.hero__title Железнодорожные перевозки
            p Железнодорожные перевозки по путям ОАО «РЖД» и путям необщего пользования ООО «Газпромтранс» (Железнодорожная линия Обская-Бованенково-Карская), ОАО ЯЖДК и др.
            +buttonLink(
              LINKS.page_service,
              'btn_primary-light',
              'Подробнее',
              false
            )
      .hero__item(style="background-image: url(images/service-ship.jpg)")
        .container
          .hero__content
            h2.h1.hero__title Морские и речные перевозки
            p Фрахтование морских/речных судов и доставка грузов из/в порты Архангельска, Варандея, Сабетта, Нарьян-Мар, Нового порта, Мыса Каменного, Ямбурга, Лабытнанги (Салехард), Сергино, Тюмени, Нового Уренгоя, Дудинки, Певека и др.
            +buttonLink(
              LINKS.page_service,
              'btn_primary-light',
              'Подробнее',
              false
            )
      .hero__item(style="background-image: url(images/service-equipment.jpg)")
        .container
          .hero__content
            h2.h1.hero__title Аренда спецтехники
            p Мы – это более 12 лет успешной деятельности Общества и бесценного опыта работы полученного в тяжелейших условиях крайнего севера, который позволяет нам четко следовать выбранной стратегии и гарантировать результат.
            +buttonLink(
              LINKS.page_service,
              'btn_primary-light',
              'Подробнее',
              false
            )
    // thumbnails
    .hero-thumbnails.js-hero-thumbnails
      // item
      .hero-thumbnails__item
        .hero-thumbnails__content
          +icon("car")
          .hero-thumbnails__title
            span Авто
            span Перевозки
      // item
      .hero-thumbnails__item
        .hero-thumbnails__content
          +icon("train")
          .hero-thumbnails__title
            span ЖД
            span Перевозки
      // item
      .hero-thumbnails__item
        .hero-thumbnails__content
          +icon("ship")
          .hero-thumbnails__title
            span Морские и
            span речные перервозки
      // item
      .hero-thumbnails__item
        .hero-thumbnails__content
          +icon("spec")
          .hero-thumbnails__title
            span Аренда
            span спецтехники
  // form
  .hero__form-wrapper
    form(id="form-order", class="hero__form form form_order")
      .form__header
        .form__title Оставьте заявку
        p Оставьте заявку на обратный звонок и наш специалист свяжется с Вами в течение 5 минут!
      .form__group
        input(
        type="text",
        placeholder="Ваше имя",
        class="form__input",
        name="order-name",
        required="required",
        data-msg="Заполните это поле"
        )
      .form__group
        input(
        type="text",
        placeholder="Ваш номер телефона",
        class="form__input js-mask-phone",
        name="order-phone",
        required="required",
        data-msg="Заполните это поле"
        )
      .form__group
        label.checkbox Я принимаю условия cоглашения об обработке персональных данных
          input(
          type="checkbox",
          class="checkbox__input"
          checked="checked"
          required="required",
          name="check"
          )
          span.checkbox__checkmark
      .form__group
        button(class="btn btn_secondary btn_style-uppercase btn_full" tabindex="0", type="submit")
            span(class="btn__content" tabindex="-1") Оставить заявку