.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-down {
	font-size:(14/10)*1rem;
	width:(30/14)*1em;
}
.icon-arrow-left {
	font-size:(30/10)*1rem;
	width:(14/30)*1em;
}
.icon-arrow-right {
	font-size:(30/10)*1rem;
	width:(14/30)*1em;
}
.icon-arrow-top {
	font-size:(14/10)*1rem;
	width:(30/14)*1em;
}
.icon-burger {
	font-size:(16/10)*1rem;
	width:(21/16)*1em;
}
.icon-car {
	font-size:(295.2/10)*1rem;
	width:(525.8/295.2)*1em;
}
.icon-mail {
	font-size:(22/10)*1rem;
	width:(30/22)*1em;
}
.icon-map {
	font-size:(42.3/10)*1rem;
	width:(48.2/42.3)*1em;
}
.icon-phone-call {
	font-size:(16.14/10)*1rem;
	width:(21.07/16.14)*1em;
}
.icon-phones {
	font-size:(21/10)*1rem;
	width:(14.5/21)*1em;
}
.icon-ship {
	font-size:(258.9/10)*1rem;
	width:(429.4/258.9)*1em;
}
.icon-shopping {
	font-size:(43.67/10)*1rem;
	width:(43.67/43.67)*1em;
}
.icon-spec {
	font-size:(66/10)*1rem;
	width:(100/66)*1em;
}
.icon-task {
	font-size:(46.93/10)*1rem;
	width:(37.02/46.93)*1em;
}
.icon-train {
	font-size:(80.6/10)*1rem;
	width:(69/80.6)*1em;
}
.icon-van {
	font-size:(31.13/10)*1rem;
	width:(48.2/31.13)*1em;
}
