-
    var fonts = [
        {
            name: 'Proxima Nova Bold',
            family: 'Proxima Nova',
            weight: '700'
        },
        {
            name: 'Roboto Regular',
            family: 'Roboto',
            weight: '400'
        },
        {
            name: 'Roboto Medium',
            family: 'Roboto',
            weight: '500'
        },
        {
            name: 'Roboto Bold',
            family: 'Roboto',
            weight: '700'
        }
    ]

.ui-title FONT FAMILY
.ui-font-family
    .ui-font-family__list
        - for (var i=0; i < fonts.length; i++)
            //block
            .ui-font-family__block(style="font-family:" + fonts[i].family + "; font-weight:" + fonts[i].weight + ";")
                span.ui-font-family__example Aa
                span.ui-font-family__title= fonts[i].name

.ui-title HEADINGS
h1 h1 / 49px / Proxima Nova Bold
h2 h2 / 40px / Proxima Nova Bold
h3 h3 / 25px / Proxima Nova Bold
h4 h4 / 20px / Proxima Nova Bold

.ui-title TEXT
p ТК Севертэк являясь логистическим оператором крупных нефтесервисных, буровых и строительных компаний, научно - производственных объединений и заводов осуществляющих свою деятельность на территории РФ, оказывает комплекс услуг по перевозке грузов Клиента между городами, <a href="#">складскими объектами</a>, прочими перевалочными узлами и перебазировке грузов на места строительства и сервисного обслуживания различных проектов нефтегазовой отрасли.

p ТК Севертэк являясь логистическим оператором крупных нефтесервисных, буровых и строительных компаний, научно - производственных объединений и заводов осуществляющих свою деятельность на территории РФ, оказывает комплекс услуг по перевозке грузов Клиента между городами, <a href="#">складскими объектами</a>, прочими перевалочными узлами и перебазировке грузов на места строительства и сервисного обслуживания различных проектов нефтегазовой отрасли.

