.ui-button-wrap
    button(class="btn btn_primary" tabindex="0")
        span(class="btn__content" tabindex="-1") Заказать звонок
.ui-button-wrap.ui-button-wrap__background
    button(class="btn btn_secondary btn_style-uppercase" tabindex="0")
        span(class="btn__content" tabindex="-1") Оставить заявку
    button(class="btn btn_light" tabindex="0")
        span(class="btn__content" tabindex="-1") Полный список
    button(class="btn btn_primary-light" tabindex="0")
        span(class="btn__content" tabindex="-1") Заказать звонок