.ui-title POPUPS
.ui-group
    button(class="btn btn_primary" tabindex="0" data-popup="open", data-popup-id='#popup-feedback')
        span(class="btn__content" tabindex="-1") Заказать звонок
    button(class="btn btn_primary" tabindex="0" data-popup="open", data-popup-id='#popup-message')
        span(class="btn__content" tabindex="-1") Спасибо за заявку !