/* BUTTONS */

$wrap-background-color: #1d2a33;

.ui-button-wrap {
  padding: 30px 15px;

  .btn  + .btn {
    margin-left: 10px;
  }
}

.ui-button-wrap__background {
  background-color: $wrap-background-color;
}