/* COLORS */
.ui-color-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ui-color-block{
  position: relative;
  width: 20%;
  height: 100px;
  padding: 6px;
  margin-right: 1%;
  margin-bottom: 60px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  @media screen and (max-width: 1365px) {
    width: 22%;
  }

  @media screen and (max-width: 979px) {
    width: 31.333%;
  }
  @media screen and (max-width: 767px) {
    width: 48%;
  }
  @media screen and (max-width: 480px) {
    width: 98%;
  }

  span {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}
.ui-color{
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 90px;
  text-align: center;
}